{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "requirePragma": false,
        "parser": "scss"
      }
    },
    {
      "files": "*.html",
      "options": {
        "requirePragma": false,
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
