.gubat-banwa.actor.enemy {
  --style-color: #333;
  .sentinel {
    --style-color: #212e52;
  }
  .raider {
    --style-color: #ed1a43;
  }
  .sharpshooter {
    --style-color: #f26821;
  }
  .witch {
    --style-color: #2e1034;
  }
  .medium {
    --style-color: #00a86b;
  }

  .collapsible {
    overflow: hidden;
    max-width: 550px;
    font-size: 16px;
  }
  .collapsed {
    height: 0;
    max-height: 0;
    transition: all 0.25s ease-in-out;
  }
  .expanded {
    height: auto;
    max-height: 50px;
    margin: 5px auto;
    transition: all 0.25s ease-in-out;
  }
  .center {
    text-align: center;
  }

  .health {
    &::-moz-progress-bar {
      background: darkolivegreen;
    }
    &::-webkit-progress-value {
      background: darkolivegreen;
    }
  }

  .window-content {
    background: #fff;
  }

  .sheet-header fieldset {
    height: 100%;
  }

  & fieldset {
    border-width: 2px;
    border-style: solid;
    border-color: var(--style-color);
    background: #fff;
  }
  & legend {
    font-weight: bold;
    padding: 0px 5px;
  }

  .backgrounds .background {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 3px solid var(--style-color);
    border-radius: 4px;
  }

  .ability input {
    text-align: center;
  }
  .ability img {
    margin: 10px 0 0 0;
    border: none;
  }
  .abilities .ability {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 3px solid var(--style-color);
    border-radius: 4px;
  }

  & label {
    background: var(--style-color);
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  .technique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 4px;
  }
  .antinganting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 4px;
  }
  & input,
  select {
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-size: 19px;
    box-shadow: inset #c9c9c9 0px 0px 4px 0px;
  }
  & input::placeholder {
    padding: 5px;
  }

  .form-group.stacked {
    padding: 0 2px;
  }
}
